 cuerpo {
    familia de fuentes :  'Arial' , sans-serif;
    margen :  0 ;
    relleno :  0 ;
}

encabezado {
    color de fondo :  #F5F5DC ;
    color :  #fff ; _
    alineación de texto : centro;
    relleno :  1 em  0 ;
}

sección {
    margen :  20 px  0 ;
}

. divisor de sección {
        borde inferior :  2 px sólido # 808080 ;
        margen inferior :  20 px ;
    }

h2 {
    color :  # 3498db ;
}

pie de página {
    color de fondo :  # f1f1f1 ;
    alineación de texto : centro;
    relleno :  1 em  0 ;
}


    <estilo> _
        cuerpo {
familia de             fuentes :  'Arial' ,  sans-serif ;
            margen : 20px;
            color de fondo :  # 808080;
            color :  #FFFFFF ; 
        }

        h1 ,  h2 ,  h3 {
            color :  #FFFFFF ; 
        }

        pag {
            altura de línea :  1,6 ;
            color :  #FFFFFF ; 
        }

        . divisor de sección {
            borde inferior :  2 px sólido # FFFFFF ; 
            margen inferior :  20 px ;
        }

        mesa {
            ancho :  100 % ;
            colapso fronterizo : colapso;
            margen inferior :  20 px ;
        }

        th ,  td {
            borde :  1 px sólido #FFFFFF ; 
            relleno :  10 píxeles ;
            alineación de texto : izquierda;
        }

        imagen {
            ancho máximo :  100 % ;
            altura : automático;
        }

        . contenido plegable {
            pantalla : ninguna;
        }

        . encabezado plegable {
            cursor : puntero;
        }
    < / estilo >
< / cabeza >
<cuerpo> _
